@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div id="map" style="height: 500px; width: 100%; border: 2px solid black;"></div>


@inject IConfiguration Configuration
@inject IJSRuntime JS

@code {
    //add Maps API key
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var apiKey = Configuration["APIKey"];
            // Call a custom JS function to load the map script dynamically
            await JS.InvokeVoidAsync("loadGoogleMaps", apiKey);
            await JS.InvokeVoidAsync("initMap");
        }
    }
}